<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peer to peer chat program</title>
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="Refresh" content="15" />
</head>
<body>
<h1>Peer to peer chat program:</h1>
<p>This is testing the auto deploy </p>
<p th:text="${error}"></p>
  <form action="/update" method="get">
    <label>Your username</label>
    <input th:type="text" th:name="username" th:value="${currentUser}"/>
    <button th:type="submit">Update</button>
  </form>
  <ul th:each="messageTemp : ${text}" >
    <li th:text="${messageTemp.username}" ></li>
    <li class="text" th:text="${messageTemp.text}"></li>
  </ul>
<form th:class="send" th:action="@{/send}" th:method="post">
  <textarea th:type="text" th:name="text" style="width: 200px; height: 50px;"></textarea>
  <button th:type="submit">Send</button>
</form>
<li><a href="/" >Refresh</a></li>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
